<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./invite$game.css">
    <title>Game Invite</title>
</head>
<body>
    <div id="root"></div>
    <script>
        let ws,inputting,joinGame,generateInvite;
        const userID = '<%=userID%>';
        console.log(userID)
    </script>
    <script type="module" src="./invite$game.js"></script>
</body>
</html>