*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar
{
    width: 3px;
    height: 80%;
	background-color: transparent;
	/* color:#16192965 */
}
::-webkit-scrollbar-track
{
    background:transparent;
}
::-webkit-scrollbar-thumb
{
    background-color:transparent;
    width: 3px;
	border-radius: 20px;
}
::-webkit-scrollbar:hover ::-webkit-scrollbar-thumb{
    width: 3px;
}
.click{
    transition: all linear .3s;
    cursor: pointer;
}
.click:active
{
    transform: scale(1.05);
}
.press{
    transition: all linear .3s;
    cursor: pointer;
}
.press:active
{
    transform: scale(0.95);
}