<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./home$page.css">
    <title>Home Page</title>
</head>
<body>
    <div id="root"></div>
    <script>
        let ws,notification,leaderBoard,settings,something,playBtn;

        const userID = '<%=userID%>'
    </script>
    <script type="module" src="./home$page.js"></script>
</body>
</html>