*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* box-shadow: -2px -2px 5px #f5e1ad; */
}
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.click{
    transition: all linear .3s;
    cursor: pointer;
}
.click:active
{
    transform: scale(1.05);
}
input::placeholder{
    color:#fff;
}