<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="game$roomMain.css">
    <title>Player X Player</title>
</head>
<body>
    <div id="root"></div>
    <!-- <input type="text"> -->
    <script>
        let initOk,inputting,guessBtn,loadInput,callBtn,returnHome,ws
        const userID = '<%=userID%>'
        const gameID = '<%=gameID%>'

        console.log(userID)
        console.log(gameID)

    </script>
    <script type="module" src="game$roomMain.js"></script>
</body>
</html>